<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>登录</title>

<link rel="stylesheet" href="resource/plugins/elementui/index.css">
<link rel="stylesheet" href="resource/css/style.css">

<script type="text/javascript" src="resource/js/jquery.min.js"></script>
<!--Vue-->
<script src="resource/js/vue.js"></script>
<!--ElementUI 前端优化框架-->
<script src="resource/plugins/elementui/index.js"></script>
<!--axios 前后端交互-->
<script src="resource/js/axios-0.18.0.js"></script>
</head>
<body class="hold-transition">
	<div id="app">
		<el-header>
			<h1>登录</h1>
		</el-header>
		<el-body>
			<div class="box">
				<div>
					<el-button v-if="nowuser == ''" type="primary" class="butT" @click="handleLogin()">登录</el-button>
					<el-button v-if="nowuser == ''" type="primary" class="butT" @click="handleRegist()">注册</el-button>
				</div>
				
				<el-form ref="dataLoginForm" :model="loginData" label-position="right"
						label-width="80px" style="padding-top: 10px">
						
					<el-row>
						<el-col :span="6"> 
							<el-form-item label="账号" prop="username">
								<el-input v-model="loginData.username" /> 
							</el-form-item> 
						</el-col>  
					</el-row>	
					<el-row>
						<el-col :span="6"> 
							<el-form-item label="密码" prop="password">
								<el-input v-model="loginData.password" show-password type="password"></el-input>
							</el-form-item> 
						</el-col>  
					</el-row>
					<el-row>
						<el-col :span="6"> 
							<el-form-item label="" prop="password">
								<el-button type="primary" @click="handleLoginAct()">登录</el-button>
							</el-form-item> 
						</el-col>  
					</el-row>	
						
					</el-form>
				
				

			</div>
		</el-body>
	</div>
</body>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
        	nowuser:'',
        	datawidth:0,
        	restext:'',
            options:['KNN算法','SVM算法'],
            dataList: [],
            formData: {
				'csv':'',
				'type':'KNN算法'
			},// 表单数据
            loginData: {},// 表单数据
            registData: {},// 表单数据
            dialogFormVisible: false,
            LoginFormVisible: false,
            registFormVisible: false,
        },
        created() {
        	let _this = this;
            var nowuser = sessionStorage.getItem("nowuser");
            
            if(nowuser && nowuser != 'null'){
            	_this.nowuser = nowuser;
            }
            
            
        },
        methods: {
            uploadfile: function (obj, objname, namestr) {
                console.log(obj.target)
                let _this = this;
                var forms = new FormData()
                var configs = {
                    headers: {'Content-Type': 'multipart/form-data'}
                };
                forms.append('file', obj.target.files[0])
                axios.post("http://localhost:8080/addfilejson.action", forms, configs).then(res => {
                    console.log(res);
                    _this[objname][namestr] = res.data;
                    _this.$forceUpdate();
                })
            },
            handlePreview(file) {
                console.log(file);
            },
            handsuccess(response, file, fileList) {
                this.formData.csv = response;
            },
            handleRegistAct(){
            	let _this = this;

                axios.post("http://localhost:8080/registactjson.action", _this.registData)
                    .then(res => {
                        console.log(res.data);
                        var obj = res.data;
                        
                        var message = obj['message'];
                        
                        alert(message);
                        
                        if(message == "注册成功，请登录"){
                        	_this.registFormVisible = false;
                        }
                        
                    })
                    .catch(err => {
                        console.log(err)
                        alert("注册失败");
                    })
            },
            handleLoginAct() {

                let _this = this;

                axios.post("http://localhost:8080/loginactjson.action", _this.loginData)
                    .then(res => {
                        console.log(res.data);
                        var obj = res.data;
                        
                        var message = obj['message'];
                        
                        alert(message);
                        
                        if(message == "登录成功"){
                        	_this.LoginFormVisible = false;
                        	
                        	_this.nowuser = obj['mingzi'];
                        	sessionStorage.setItem('nowuser',_this.nowuser);
                        	
                        	window.location = "main.html";
                        	
                        }
                        
                    })
                    .catch(err => {
                        console.log(err)
                        alert("登录失败");
                    })
            },
            // 添加
            handleAdd() {
			
                let _this = this;
				
                if(_this.nowuser == '' || _this.nowuser == 'null'){
                	this.$message('请先登录');
                	return;
                }
                
                axios.post("http://localhost:8080/fenxiactjson.action", _this.formData)
                    .then(res => {
                        console.log(res.data);
                        var obj = res.data;
                        alert("分析成功");
                        _this.dialogFormVisible = false;
                        
                        _this.restext = obj['type'] + ",总数据为：" + obj['zongshu'] + "条," + ",分析正确 " + obj['zhengqueshu'] + "条,";
                        
                        var jieguo = obj['jieguo'];
                        
                        _this.restext += "clean项：" + jieguo['clean'] + "条,";
                        _this.restext += "buggy项：" + jieguo['buggy'] + "条";
                        
                        for(var i = 0;i < obj['result'].length;i++){
                        	
                        	var resitem = obj['result'][i];
                        	
                        	var dataitem = {};
                        	for(var j = 0;j < resitem.length;j++){
                        		dataitem[j] = resitem[j];
                        	}
                        	
                        	_this.datawidth = obj['result'][0].length - 1;
                        	
                        	_this.dataList.push(dataitem);
                        }
                        
                        console.log(_this.dataList);
                        
                        
                    })
                    .catch(err => {
                        console.log(err)
                        alert("分析失败");
                    })
            },
            // 重置表单
            resetForm(type) {
            },
            // 弹出添加窗口
            handleCreate() {
                this.dialogFormVisible = true;
            },
            handleLogin() {
            	window.location = "login.html";
            },
            handleRegist() {
            	window.location = "regist.html";
            },
            zhuxiao() {
                this.nowuser = '';
                sessionStorage.clear();
            },
        }
    })
</script>
</html>